/*
CSS File
*/

/*
VARIABLES
*/

:root {
  /* Core colours */
  --colour-background: black;
  --colour-code: #9ACD32; /* light green */
  --colour-button: black;
  --colour-button-border: #9ACD32; /* light green */
  --colour-input: black;
  --colour-input-border: #9ACD32; /* light green */
}

/*
PAGE / BODY
*/

body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--colour-code);
  background-color: var(--colour-background);
}

.todoDeleteButton {
  margin-left: 2rem;
  background-color: var(--colour-button);
  border: 2px solid var(--colour-button-border);
  color: var(--colour-code);
}

.done {
  background-color: var(--colour-button);
  border: 2px solid var(--colour-button-border);
  color: var(--colour-code);
}

button {
  background-color: var(--colour-button);
  border: 2px solid var(--colour-button-border);
  color: var(--colour-code);
}

button#add-todo-button {
  background-color: var(--colour-button);
  border: 2px solid var(--colour-button-border);
  color: var(--colour-code);
}

main {
  min-height: 100vh;
}

input[type="text"] {
  background-color: var(--colour-input);
  border: 2px solid var(--colour-input-border);
  color: var(--colour-code);
}

/*
Screen reader text utility class
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
